
html, body {width: 100%; height: 100%}
body {margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px}
    

.CommonTable {
	font-family:Tahoma,Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#3F3D3D;
	border-right:#eeeeee 1px solid;
	border-top:#eeeeee 1px solid;
	border-left:#eeeeee 1px solid;
	border-bottom:#eeeeee 1px solid;	
}

.Intersection
{
  left:400px;
  top:400px;
  position: absolute; 
  background-color: rgba(232, 232, 232, 0.85);
  border:1px solid #b7b8cc;
}

.IntersectionCell
{
  vertical-align:middle;
  text-align:center;
  width:48px;
  height:48px
}

.AccordionMenu
{
  margin:0 auto;	
  width:250px;
  height: 'auto';
  left:0px;
  top:47px;
  position: absolute; 
}

.MenuPanel
{
  margin:0 auto;	
  width:250px;
  left:0px;
  top:2px;
  position: absolute; 
}

.HideShowButton
{
  margin:0 auto;	
  width:185px;
  height:40px;
  left:0px;
  top:2px;
  position: absolute;
}

.HideShowButtonBold
{
	text-shadow:0px 1px 0px;
}

.ProblemIDButton
{
  margin:0 auto;	
  width:55px;
  height:40px;
  top:2px;
  position: absolute;  
}

.ui-button,  .ui-button-text .ui-button{  
font-size: 15px !important; 
}
